// SPDX-License-Identifier: GPL-2.0
/*
 * FPGAlix - Intel/Altera Cyclone V SoC Board
 * Device: 5CSEMA5F31C6
 *
 * HPS peripherals enabled:
 *   - EMAC1     : RGMII
 *   - USB1      : SDR (USB 2.0 OTG)
 *   - UART0     : console, no flow control
 *   - I2C0/I2C1 : 100 kHz
 *   - SPIM1     : single slave select
 *   - SDMMC     : 4-bit SD/MMC
 *   - QSPI      : 1 slave select
 *   - GPIO0/1/2 : HPS GPIO banks
 *
 * FPGA peripherals (LW HPS-to-FPGA bridge @ 0xFF200000):
 *   - LED PIO      : 10-bit output  @ 0xFF200120
 *   - Button PIO   :  4-bit input   @ 0xFF200110  (falling-edge IRQ, F2H[1] = GIC SPI 41)
 *   - DIP-SW PIO   : 10-bit input   @ 0xFF200100  (any-edge IRQ,    F2H[0] = GIC SPI 40)
 *   - JTAG UART    :                @ 0xFF200138  (IRQ,             F2H[2] = GIC SPI 42)
 *   - System ID    :                @ 0xFF200130
 *   - mSGDMA       : CSR            @ 0xFF202000  (IRQ,             F2H[3] = GIC SPI 43)
 *   - Hex Display Controller       @ 0xFF200140
 *   - OV7670 I2C Master            @ 0xFF200180  (IRQ,             F2H[4] = GIC SPI 44)
 *   - PCLK Reset Controller        @ 0xFF2001C0
 *   - OV7670 Data Interface        @ 0xFF200400  (via MM Clock Crossing Bridge)
 *
 * FPGA peripherals (HPS-to-FPGA bridge @ 0xC0000000):
 *   - On-chip SRAM : 64 KB          @ 0xC1000000
 *
 * HPS GPIO:
 *   - HPS_LED      : GPIO1[24] / pin A24  -> heartbeat
 */

#include "socfpga_cyclone5.dtsi"

/ {
	model = "FPGAlix - Intel Cyclone V SoC";
	compatible = "altr,fpgalix-cyclone5", "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		name = "memory";
		device_type = "memory";
		reg = <0x00000000 0x40000000>; /* 1 GB DDR3 */
	};

	aliases {
		ethernet0 = &gmac1;
		serial0   = &uart0;
		mmc0      = &mmc0;
		spi0      = &spi1;
	};

	regulator_3_3v: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC3P3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	leds {
		compatible = "gpio-leds";

		led0 { label = "fpga:red:0"; gpios = <&led_pio 0 0>; default-state = "off"; };
		led1 { label = "fpga:red:1"; gpios = <&led_pio 1 0>; default-state = "off"; };
		led2 { label = "fpga:red:2"; gpios = <&led_pio 2 0>; default-state = "off"; };
		led3 { label = "fpga:red:3"; gpios = <&led_pio 3 0>; default-state = "off"; };
		led4 { label = "fpga:red:4"; gpios = <&led_pio 4 0>; default-state = "off"; };
		led5 { label = "fpga:red:5"; gpios = <&led_pio 5 0>; default-state = "off"; };
		led6 { label = "fpga:red:6"; gpios = <&led_pio 6 0>; default-state = "off"; };
		led7 { label = "fpga:red:7"; gpios = <&led_pio 7 0>; default-state = "off"; };
		led8 { label = "fpga:red:8"; gpios = <&led_pio 8 0>; default-state = "off"; };
		led9 { label = "fpga:red:9"; gpios = <&led_pio 9 0>; default-state = "off"; };

		hps_led {
			label = "hps:green:led";
			gpios = <&portb 24 0>; /* HPS GPIO1[24] - pin A24 */
			linux,default-trigger = "heartbeat";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		button@0 {
			label = "fpga_key0";
			linux,code = <0x100>;
			gpios = <&button_pio 0 1>;
			interrupt-parent = <&button_pio>;
			interrupts = <0>;
			debounce-interval = <50>;
		};
		button@1 {
			label = "fpga_key1";
			linux,code = <0x101>;
			gpios = <&button_pio 1 1>;
			interrupt-parent = <&button_pio>;
			interrupts = <1>;
			debounce-interval = <50>;
		};
		button@2 {
			label = "fpga_key2";
			linux,code = <0x102>;
			gpios = <&button_pio 2 1>;
			interrupt-parent = <&button_pio>;
			interrupts = <2>;
			debounce-interval = <50>;
		};
		button@3 {
			label = "fpga_key3";
			linux,code = <0x103>;
			gpios = <&button_pio 3 1>;
			interrupt-parent = <&button_pio>;
			interrupts = <3>;
			debounce-interval = <50>;
		};

		switch@0  { label = "fpga_sw0";  linux,code = <0x200>; linux,input-type = <5>; gpios = <&dipsw_pio 0 0>; interrupt-parent = <&dipsw_pio>; interrupts = <0>; };
		switch@1  { label = "fpga_sw1";  linux,code = <0x201>; linux,input-type = <5>; gpios = <&dipsw_pio 1 0>; interrupt-parent = <&dipsw_pio>; interrupts = <1>; };
		switch@2  { label = "fpga_sw2";  linux,code = <0x202>; linux,input-type = <5>; gpios = <&dipsw_pio 2 0>; interrupt-parent = <&dipsw_pio>; interrupts = <2>; };
		switch@3  { label = "fpga_sw3";  linux,code = <0x203>; linux,input-type = <5>; gpios = <&dipsw_pio 3 0>; interrupt-parent = <&dipsw_pio>; interrupts = <3>; };
		switch@4  { label = "fpga_sw4";  linux,code = <0x204>; linux,input-type = <5>; gpios = <&dipsw_pio 4 0>; interrupt-parent = <&dipsw_pio>; interrupts = <4>; };
		switch@5  { label = "fpga_sw5";  linux,code = <0x205>; linux,input-type = <5>; gpios = <&dipsw_pio 5 0>; interrupt-parent = <&dipsw_pio>; interrupts = <5>; };
		switch@6  { label = "fpga_sw6";  linux,code = <0x206>; linux,input-type = <5>; gpios = <&dipsw_pio 6 0>; interrupt-parent = <&dipsw_pio>; interrupts = <6>; };
		switch@7  { label = "fpga_sw7";  linux,code = <0x207>; linux,input-type = <5>; gpios = <&dipsw_pio 7 0>; interrupt-parent = <&dipsw_pio>; interrupts = <7>; };
		switch@8  { label = "fpga_sw8";  linux,code = <0x208>; linux,input-type = <5>; gpios = <&dipsw_pio 8 0>; interrupt-parent = <&dipsw_pio>; interrupts = <8>; };
		switch@9  { label = "fpga_sw9";  linux,code = <0x209>; linux,input-type = <5>; gpios = <&dipsw_pio 9 0>; interrupt-parent = <&dipsw_pio>; interrupts = <9>; };
	};
};

/* ====================================================================
 * HPS Peripherals
 * ==================================================================== */

&gmac1 {
	status = "okay";
	phy-mode = "rgmii";
	phy-addr = <0xffffffff>;
	txd0-skew-ps = <0>;   txd1-skew-ps = <0>;   txd2-skew-ps = <0>;   txd3-skew-ps = <0>;
	rxd0-skew-ps = <420>; rxd1-skew-ps = <420>; rxd2-skew-ps = <420>; rxd3-skew-ps = <420>;
	txen-skew-ps = <0>;
	txc-skew-ps  = <1860>;
	rxdv-skew-ps = <420>;
	rxc-skew-ps  = <1680>;
	max-frame-size = <3800>;
};

&uart0 { status = "okay"; };

&usb1 {
	status = "okay";
	dr_mode = "otg";
};

&i2c0 { status = "okay"; clock-frequency = <100000>; };
&i2c1 { status = "okay"; clock-frequency = <100000>; };

&spi1 { status = "okay"; num-cs = <1>; };

&mmc0 {
	vmmc-supply  = <&regulator_3_3v>;
	vqmmc-supply = <&regulator_3_3v>;
	status = "okay";
};

&qspi {
	status = "okay";
	flash0: flash@0 {
		#address-cells = <1>;
		#size-cells    = <1>;
		compatible     = "jedec,spi-nor";
		reg            = <0>;
		spi-max-frequency = <100000000>;
		spi-tx-bus-width  = <4>;
		spi-rx-bus-width  = <4>;
		cdns,read-delay = <4>;
		cdns,tshsl-ns   = <50>;
		cdns,tsd2d-ns   = <50>;
		cdns,tchsh-ns   = <4>;
		cdns,tslch-ns   = <4>;
	};
};

&gpio0 { status = "okay"; };
&gpio1 { status = "okay"; };
&gpio2 { status = "okay"; };

/* ====================================================================
 * FPGA Bridges
 * ==================================================================== */

&fpga_bridge0 { status = "okay"; };
&fpga_bridge1 { status = "okay"; };
&fpga_bridge2 { status = "okay"; };

/* ====================================================================
 * FPGA Region
 * ==================================================================== */

&base_fpga_region {
	fpga-bridges = <&fpga_bridge0>, <&fpga_bridge1>, <&fpga_bridge2>;

	#address-cells = <1>;
	#size-cells    = <1>;
	ranges = <0xff200000 0xff200000 0x00200000>,
	         <0xc0000000 0xc0000000 0x20000000>;

	/* JTAG UART – F2H[2] -> GIC SPI 42 */
	jtag_uart: serial@ff200138 {
		compatible = "altr,juart-1.0";
		reg = <0xff200138 0x8>;
		interrupt-parent = <&intc>;
		interrupts = <0 42 4>;
	};

	sysid: sysid@ff200130 {
		compatible = "altr,sysid-1.0";
		reg = <0xff200130 0x8>;
	};

	/* LED PIO – 10-bit output, no interrupt */
	led_pio: gpio@ff200120 {
		compatible = "altr,pio-1.0";
		reg = <0xff200120 0x10>;
		altr,gpio-bank-width = <10>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	/* Button PIO – F2H[1] -> GIC SPI 41 */
	button_pio: gpio@ff200110 {
		compatible = "altr,pio-1.0";
		reg = <0xff200110 0x10>;
		altr,gpio-bank-width = <4>;
		altr,interrupt-type  = <2>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <1>;
		interrupt-parent = <&intc>;
		interrupts = <0 41 4>;
	};

	/* DIP-Switch PIO – F2H[0] -> GIC SPI 40 */
	dipsw_pio: gpio@ff200100 {
		compatible = "altr,pio-1.0";
		reg = <0xff200100 0x10>;
		altr,gpio-bank-width = <10>;
		altr,interrupt-type  = <3>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <1>;
		interrupt-parent = <&intc>;
		interrupts = <0 40 4>;
	};

	/* mSGDMA – F2H[3] -> GIC SPI 43 */
	msgdma: dma-controller@ff202000 {
		compatible = "altr,socfpga-msgdma";
		reg = <0xff202000 0x20>,
		      <0xff202020 0x20>,
		      <0xff202040 0x08>;
		reg-names = "csr", "desc", "resp";
		interrupt-parent = <&intc>;
		interrupts = <0 43 4>;
		#dma-cells = <1>;
	};

	/* Hex Display Controller */
	hex_display: hex-display-controller@ff200140 {
		compatible = "fpgalix,hex-display-controller-1.0";
		reg = <0xff200140 0x4>;
	};

	/* OV7670 I2C Master – F2H[4] -> GIC SPI 44 */
	i2c_ov7670: i2c@ff200180 {
		compatible = "altr,softip-i2c-v1.0";
		reg = <0xff200180 0x20>;
		interrupt-parent = <&intc>;
		interrupts = <0 44 4>;
		clock-frequency = <100000>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	/* PCLK Reset Controller – controls pclk domain reset via software */
	pclk_reset_ctrl: pclk-reset-controller@ff2001c0 {
		compatible = "fpgalix,pclk-reset-controller-1.0";
		reg = <0xff2001c0 0x4>;
	};

	/* OV7670 Data Interface – via MM Clock Crossing Bridge */
	ov7670_if: ov7670-data-interface@ff200400 {
		compatible = "fpgalix,ov7670-data-interface-1.0";
		reg = <0xff200400 0x8>;
	};

	/* On-chip SRAM – 64 KB */
	onchip_sram: sram@c1000000 {
		compatible = "mmio-sram";
		reg = <0xc1000000 0x10000>;
	};
};
